<h1>BitAlert</h1>

<h2 *ngIf="priceObservable | async as price">{{ price }} EUR</h2>
<h2 *ngIf="!(priceObservable | async)">...</h2>

<div class="section">
  <dx-text-box #emailAddressInput
    [inputAttr]="{ autocapitalize: 'off', autocorrect: 'off' }"
    placeholder="Get started with your e-mail address"
    [(value)]="emailAddress"
  ></dx-text-box>
</div>

<div *ngIf="!emailAddress" class="section">
  <dx-button text="Use this E-Mail Address" (onClick)="onUseEmailAddressButtonClicked()"></dx-button>
</div>

<div *ngIf="activated === false">
  <p>This e-mail address is not activated.</p>
  <p *ngIf="!registered"><dx-button text="Register" (onClick)="onRegisterButtonClicked()"></dx-button></p>
  <p *ngIf="registered"><strong>Check your e-mail.</strong></p>
  <h2>How does BitAlert work?</h2>
  <p>BitAlert lets you define price thresholds and sends you e-mails if they are crossed by the BTC/EUR price.</p>
  <p>Your account will be referenced by a URL in the form of {{ exampleUrl }}.</p>
  <p>If you forget your URL, simply clear your local data and newly activate your e-mail address.</p>
</div>

<div *ngIf="activated">
  <div *ngIf="thresholdsLoaded">
    <div class="section">
      <dx-button [text]="thresholdButtonText" (onClick)="onAddThresholdButtonClicked()"></dx-button>
    </div>
    <div class="section">
      <dx-data-grid
        [(dataSource)]="thresholds"
        [editing]="{ allowUpdating: true, allowDeleting: true }"
        (onRowUpdated)="onRowUpdated()"
        >
        <dxi-column dataField="orientation">
          <dxo-lookup
            [dataSource]="upDownOptions"
            valueExpr="value"
            displayExpr="text"
          ></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="price" dataType="number">
          <dxi-validation-rule type="pattern" [pattern]="pricePattern" message="price must be an integer number"></dxi-validation-rule>
        </dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>

<div class="section">
  <dx-button text="Clear Local Data" (onClick)="onResetAccountButtonClicked()"></dx-button>
  <dx-button text="Delete Account" (onClick)="onDeleteAccountButtonClicked()" *ngIf="this.emailAddress && this.secret"></dx-button>
</div>
