<h1>BitAlert</h1>

<h2 *ngIf="priceObservable | async as price">{{ price }} EUR</h2>
<h2 *ngIf="!(priceObservable | async)">...</h2>

<div class="section">
  <dx-text-box
    placeholder="Get started with your e-mail address"
    [(value)]="emailAddress"
  ></dx-text-box>
</div>

<div class="section">
  <dx-button text="Add a new Threshold" (onClick)="onAddThresholdButtonClicked()"></dx-button>
</div>

<div *ngIf="thresholdsLoaded" class="section">
  <dx-data-grid
    [(dataSource)]="thresholds"
    [editing]="{ allowUpdating: true, allowDeleting: true }"
    (onRowUpdated)="onRowUpdated()"
    >
    <dxi-column dataField="orientation">
      <dxo-lookup
        [dataSource]="upDownOptions"
        valueExpr="value"
        displayExpr="text"
      ></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="price">
      <dxi-validation-rule type="pattern" [pattern]="pricePattern" message="price must be an integer number"></dxi-validation-rule>
    </dxi-column>
  </dx-data-grid>
</div>
